*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.back-ground{

    background: rgb(2,0,36);
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 27%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    border-radius: 0% 0% 12% 11% / 10% 10% 10% 10%  ;
}
.nav-background{
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 2%, rgba(0,212,255,1) 100%);
    border-radius: 0% 0% 12% 11% / 10% 10% 10% 10%  ;
    background: linear-gradient(322deg, #06449F 0%,  rgba(0,212,255,1) 100%);
    border-radius: 10px;
    background-repeat: no-repeat;
   
    
}

.links-hover ul li a{
    transition: all 1s ease;
}

.links-hover ul li a:hover{
   border-radius: 20px;
   background-color: rgb(9, 9, 121);
   padding: 10px ;
   opacity: 0.5;
}

.btn-block a{
    text-decoration: none;
    color: #fff;
}
.btn-1{
    background-color: rgb(206, 33, 33);
    padding: 10px 20px;
    border-radius: 20px ;
    text-transform: uppercase;
    
}
.info{
    padding: 110px;
}
.item-1{
    img{
        border-radius: 25px;
    }
}
#product{
    input{
        width: 80px;
        height: 50px;
        border: 1px solid #574f4f;
        border-radius: 25px;
        text-align: center;
    }
    span{
        margin-top: 50px !important;
    }
    p{
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }
    button{
        
        display: inline-block;
        cursor: pointer;
        padding: 10px 25px;
        font-size: 13px;
        border-radius: 25px;
        transition: ease-in-out all 1s ;
        background-color: rgb(152, 29, 30);
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
            background-color:#0565B6 ;
            color: white;
            } 
    
}
}