*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.back-ground{

    background: rgb(2,0,36);
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 27%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    border-radius: 0% 0% 12% 11% / 10% 10% 10% 10%  ;
}
.nav-background{
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 2%, rgba(0,212,255,1) 100%);
    border-radius: 0% 0% 12% 11% / 10% 10% 10% 10%  ;
    background: linear-gradient(322deg, #06449F 0%,  rgba(0,212,255,1) 100%);
    border-radius: 10px;
    background-repeat: no-repeat;
   
    
}

.back-ground-1{
    background: rgb(2,0,36);
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 27%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
   

}


.links-hover ul li a{
    transition: all 0.8s ease-in-out;

  
    
}

.links-hover ul li a:hover{
   border-radius: 10px;
   background-color: rgb(9, 9, 121);
   color: #ffffff !important;
   border-bottom: 2px double #090979;
   opacity: 0.5;
}

.btn-block a{
    text-decoration: none;
    color: #fff;
}
.btn-1{
    background-color: rgb(206, 33, 33);
    padding: 10px 20px;
    border-radius: 20px ;
    text-transform: uppercase;
    
}

.img-text{

    margin: auto;
    width: fit-content;
    padding: 8px 13px;
    border-radius: 20px;
    position: absolute;
     top: 10px;
     right: 10px;
    font-size: large;
    font-weight: 800;
}

.img-text-1{

    margin: auto;
    width: fit-content;
    padding:20px;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    bottom: -20px;
    font-size: larger;
    font-weight: 800;
    
}

.line-image h1::after{
    content: "";
   display: inline-block;
    width: 220px;
    background-color: #e93a3a;
    height: 5px;
    border-radius: 70% 40% 80% 50% / 51% 30% 50% 49%;


}

  
.main-image img{
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s 5 alternate both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s 5 alternate both;
    
}

 .text-deco a{
    text-decoration: none;
color: #fff;
 }

 .hover-ul li{
 
    opacity: 0.9;
    transition:  1s all ease;
 }


 .hover-ul li:hover{
    border-bottom: #fff solid 1px ;

 }
 .navbar a{
    color: #fff !important;
 }

 ul li a{
    text-decoration: none;
    color: #fff;
 }


 .hover-lg{
    transition: 0.6s all ease-in-out;
 }

.hover-lg:hover{
    color: #0565B6 !important;
    

}

.hover-lg button{
    transition: 0.6s all ease-in-out;

}
.hover-lg button:hover{
    background-color: #0565B6 !important;
    border: 1px solid #0565B6 ;
}

.padding-md-1{
    border-radius: 40px;
    background-color: #0c7cd8;
    margin: 0px 10px;
}


.no-shadow input{

    border-radius: 1px;
    box-shadow: #fcfcfc;
}

/* .footer-bg{
    border-radius: 40% 40% 0% 0%  ;
    background: rgb(2,0,36);
    background: linear-gradient(322deg, rgba(2,0,36,1) 0%, #090979 27%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
} */

.footer-bg-1{
   
    background: rgb(14, 72, 233);
    background-repeat: no-repeat;
    color: #fff !important;
}


 .footer-bg-1 a{
    color: #000000b0 !important;
    text-decoration: none;
    transition: 0.6s all ease-in-out;
    
}

.footer-bg-1 a:hover{
    color: rgb(253, 253, 253) !important;
}


.social-media a{
    padding-left: 10px;
    color: #030236 !important;
    transition: all 0.8s ease-in-out !important;
}

.social-media a :hover{
   
    color: #fff !important;
}
.ternd-bg{

    background-color: #CFF4FC;
}

.bracket span a::after{
    content: " >";
}

.left-shop-banner{
    position: absolute;
    left: 20%;
    top: 18%;
    padding: 50px 0px;
    margin-bottom: 20px;
   
}

.right-shop-banner{
    position: absolute;
    right: 30px;
    top: 25%;
    padding: 50px 0px;
   
}

.custom-input{
    border-radius: 50px;
    width: 100px;
    height: 50px;
}


 /*  Mobile Responsive */

 @media screen and (max-width: 768px) {
    .responsive-logo {
     text-align: start;
    }


   .responsive-ul{

    display: flex;
    justify-content: center;
    padding: 20px 10px 0px 10px;
    font-size: large;
    font-weight: 600;
    
   }

   #fet .item{
    text-align: center;
  margin: 0px 10px !important;
  height: 90%;
  border-radius: 5% 5% 12% 11%   !important;

   }

   .btn-block{
  display: none;
   

   }

   .line-image{
    padding-top: 20px;
   }

   .hide-btn{
    display: none;
   }
   .center-text{
    text-align: center;
   }
   .padding-md{
    margin-top: 10px;
    padding-bottom: 20px;
    border:  1px solid #0565B6 ;
    border-radius: 20%;
    margin-bottom: 10px;
    background: linear-gradient(322deg, rgb(140, 137, 221) 0%,  rgba(0,212,255,1) 100%);
    

    
   }

   .padding-md:hover{
    color: #fff;
   }

   .padding-md img{
    width: 100%;
   }
   .padding-md span{
    color: #fff !important;
    font-size: 20p;
   }

   .top-cat-pd{
   width: 95%;
     margin-top: 30px;
   }
   .top-cat-pd-1{
    width: 95%;
      
    }

   .hide-image-banner-last{
    display: none;
   }

   .re-padding-marrgin{
    position: relative;
    padding: 10px !important;
    margin: 10px;
    left: 0;
   }


.right-shop-banner{
    position: relative;
    left: 0;
    padding: 30px 10px!important;
  
   
}


.left-shop-banner{
 position: relative;


}

.re-possing-btn{
    position: absolute;
    bottom: 0;
    right: 12px;
}

.box-width {
    width: 100% !important;
   

    
}
  }


  /*  Tablet responsive */

  @media screen and (max-width: 868px) {
    .responsive-logo {
     text-align: center;
    
    }

   .responsive-ul{

    display: flex;
    justify-content: center;
    padding: 20px 10px 0px 10px;
    font-size: large;
    font-weight: 600;
    
   }

   #fet .item{
    text-align: center;
  margin: 0px 10px !important;
  height: 90%;
  border-radius: 5% 5% 12% 11%   !important;

   }

   .btn-block{
   display: none;
   }

   .line-image{
    padding-top: 20px;
   }

   .hide-btn{
    display: none;
   }
   .center-text{
    text-align: center;
   }
   .padding-md{
    margin-top: 10px;
    padding-bottom: 20px;
    border:  1px solid #0565B6 ;
    border-radius: 20%;
    margin-bottom: 10px;
    background: linear-gradient(322deg, rgb(140, 137, 221) 0%,  rgba(0,212,255,1) 100%);
    
   }

   .padding-md:hover{
    color: #fff;
   }

   .padding-md img{
    width: 100%;
   }
   .padding-md span{
    color: #fff !important;
    font-size: 20p;
   }

   .top-cat-pd{
   width: 95%;
     margin-top: 30px;
   }

   .top-cat-pd-1{
    width: 95%;
      
    }



   .re-padding-marrgin{
    position: relative;
    padding: 10px !important;
    margin: 10px;
    left: 0;

   }


.right-shop-banner{
    position: relative;
    padding: 30px 10px!important;
    left: 0;
  
   
}


.hide-image-banner-last{
    display: none;
}

.left-shop-banner{
    position: relative;
   
   
   }
   
   .re-possing-btn{
       position: absolute;
       bottom: 0;
       right: 12px;
   }

   .tablet-hight{
    padding-bottom:50px!important;
    
   }
   .tablet-footer-login-page {
    margin-bottom: 0px !important;
    height: 30vh;
   }

  }



  #fet{
    .item{
        box-shadow: rgba(29, 1, 1, 0.795) 0px 0px 15px !important;
        background-color: rgb(255, 255, 255);
        border-radius: 10%;
        text-align: center;
        padding: 10px;
        
        .icon{
          
            a{
                font-size: 45px;
                border-radius: 50%;
                background-color: #0565B6;
                color: rgb(255, 255, 255);
                width: 100px;
                height: 100px;
                text-align: center;
                line-height: 90px;
                display: inline-block;
                margin-top: 8px;
                transition: 0.5s ease-in-out all;
                &:hover{
                    background-color:#e93a3a;
                    color: rgb(255, 255, 255);
                }

            }
            h4{
                font-size: 25px;
                margin-top: 8px;
                color: rgb(49, 49, 49);
                font-weight: bold;
                text-transform: uppercase;
            }
         
        }
    }
  }
  .btns{
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 25px;
    transition: ease-in-out all 1s ;
    background-color: rgb(152, 29, 30);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        background-color:#0565B6 ;
        color: white;
        
    }


  }
#offers{
    border-radius: 8%;
    .item{
        background-color: rgba(0, 0, 0, 0.705);
        border-radius: 25px;
        margin-bottom: 25px;
    }

    .thump{
        border-radius: 25px;
    }
    img{
        width: 100% !important;
    }
    .img-text{
        background-color: #0565B6;
        color: #fff;
      
  
        background-color: #0565B6;
        font-size: 17px;
        font-weight: bold;
         
      
    }
    .down-cont{
        padding: 26px;
        span{
            color: blanchedalmond;
            font-size: 15px;
            margin-bottom: 5px;
            
        }
        .conz{
            a{
                font-size: 20px;
                border-radius: 50%;
                background-color: #e93a3a;
                color: white;
                width: 38px;
                height: 38px;
                text-align: center;
                line-height: 35px;
                display: inline-block;
                
                transition: 0.5s ease-in-out all;
                &:hover{
                    background-color:#0565B6;
                    color: rgb(169, 169, 169);
                }  
            }
        }
    }
}
#descreption{
    p{
        max-width: 90% !important;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
}

 /* main photo animation */
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }